<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>ENV</title>
</head>
<body>
    {% include 'menu.html' %}
    {% if last_login %}
        <p class="p-3 bg-light">Your last login was at: {{ last_login }}</p>
    {% else %}
        <p>No login timestamp available.</p>
    {% endif %}
    <div class="container">
        <h1 class="text-center">About ICS</h1>
        <p class="text-center">
            Welcome to ICS! Within this portal you have access to view the enviromental results of all recorded sensors.
        </p>
        <p class="text-center text-danger">
            Note: Only administrators have access to edit data within the tables. Please contact an administrator for change requests.
        </p>
    </div>
</body>
</html>