<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Welcome: "username"</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Back to app</a></li>
            <li><a href="/home">Home</a></li>
            <li><a href="/enviroment">View Enviromental Results</a></li>
            <li><a href="/update">Update</a></li>
            <li><a href="/delete">Delete</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>